form {
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    pointer-events: all;
}

label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1F;
    margin-bottom: 26px;
}

textarea {
    background-color: #F9FBFC;
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: 100%;
    resize: none;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    outline: none;
    transition: all .2s ease-out;
}

textarea::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
}

textarea:focus {
    background: linear-gradient(90deg, #ededed, #d8d8d8);
    border: none;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.10);
}

.TodoForm-buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat';
    box-sizing: border-box;
    transition: all .2s ease;
}

.TodoForm-button--add {
    background: #000000;
    color: #fff;
}

.TodoForm-button--cancel {
    background: transparent;
    border: #e3e3e3 solid 1px;
}

.TodoForm-button--cancel:hover {
    background-color: #e3e3e3;
}

@media screen and (max-width: 500px) {
    form {
        margin: 0 10px;
    }
}
